# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.user
*.ncb
*.suo
*.exe
*.ilk
*.pdb
*.sbr
*.idb
*.htm
*.pch
*.bsc
*.obj
Debug/*.*
BattleBoy/Debug
demo1/Debug/*.*
demo2/Debug/*.*
DXUT.lib
tinyxmld.lib